<div class="signup-container">
  <div class="tittle">
    <h3>Registrarse</h3>
    <span>¿Ya tiene una cuenta? <a>Ingresa aqui</a></span>
  </div>

  <div class="box-info">
    <input type="text" placeholder="">
    <label for="">Nombre de usuario</label>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="box-info">
        <input type="password" name="" id="" placeholder="">
        <label for="">Contraseña</label>
      </div>


    </div>
    <div class="col-6">
      <div class="box-info">
        <input type="password" name="" id="" placeholder="">
        <label for="">Repita Contraseña</label>
      </div>
    </div>
  </div>

  <div class="box-info">
    <input type="email" placeholder="">
    <label for="">Correo electronico</label>
  </div>

  <div class="button">
    <button>Registrarse</button>
  </div>
</div>