
.container {
    background-color: #e5e0e0;

}

.container-main {
    margin-left: 290px;
    padding: 20px;
    transition: margin-left 0.6s ease;
}
.container-min-main {
    margin-left: 100px;
    padding: 20px;
    transition: margin-left 0.6s ease;

}

@media (max-width: 600px) {
    .main-responsive {
        margin-left: 0;
    }
}