.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../../../assets/fondo-login.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container .cover-login{
    background-color: rgba(0, 0, 0, 0.535);
    min-width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

.container-form{
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}
.input-box {
    position: relative;
    width: 100%;
    display: flex;
    margin: 20px 0;
    border-bottom: 2px solid;
}

.input-box input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -5px;
    font-size: 0.8rem;
}

.input-box fa-icon{
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    line-height: 57px;
}
.tittle{
    margin-bottom: 40px;
    
}

.tittle h3{
    text-align: center;
    font-weight: bold;
}

.button{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.button  button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin: 10px;
    transition: background-color .5s ease;
}
.button button:hover{
    background-color: blueviolet;
    color: black;
}

.container .cover-login .container-form .tittle span a{
    color: rgb(7, 147, 194);
    cursor: pointer;
    border-bottom: 1px solid transparent; /* Establece el subrayado como transparente */

    transition: border-bottom .5s ease-in-out;

    &:hover{
        color: black;
        border-bottom: 1px solid;
        
    }
}

.container .cover-login .container-form .button span a{
    color: rgb(7, 147, 194);
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid transparent; /* Establece el subrayado como transparente */

    transition: border-bottom .5s ease-in-out;

    &:hover{
        color: black;
        border-bottom: 1px solid;
        
    }
}
