<div class="container">
  <div class="cover-login">
    <div class="container-form">
      <form [formGroup]="formLogin">
        <div class="tittle">
          <h3>Iniciar sesión</h3>
          <span>¿No tienes una cuenta? <a (click)="signup()">Crea una aqui</a></span>
        </div>
        <div class="input-box">
          <fa-icon [icon]="faIconUsername"></fa-icon>
          <input formControlName="username" class="input" type="text" id="username" name="username" placeholder="">
          <div *ngIf="formLogin.get('username')?.hasError('required') && formLogin.get('username')?.touched"></div>
          <label class="label" for="username">Nombre de usuario</label>
        </div>

        <div class="input-box">
          <fa-icon [icon]="faIconPassword"></fa-icon>
          <input formControlName="password" class="input" type="password" id="password" name="password" placeholder="">
          <label class="label" for="password">Contraseña</label>
        </div>

        <div class="button">
          <button type="submit" (click)="login()">Iniciar Sesión</button>
          <span>¿Olvidaste tu contraeña? <a href="">Click aqui</a></span>
        </div>
      </form>
    </div>

    <router-outlet></router-outlet>
  </div>

</div>